table,
th,
td {
  border: solid;
  text-align: center;
  width: 14%;
}

table {
  width: 95%;
  border-collapse: collapse;
}

tr:hover {
  background-color: coral;
}

th {
  background-color: rgb(199, 174, 225);
  padding: 15px;
}

td {
  padding: 8px;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.center {
  text-align: center;
}

.delete-btn {
  padding: 6px 15px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: rgb(231, 52, 52);
}

.update-btn {
  background-color: rebeccapurple;
  padding: 6px 15px;
  margin-right: 10px;
  border: none;
  color: white;
  border-radius: 5px;
}

.update-btn:hover {
  background-color: rgb(145, 84, 206);
}

.inpt-section {
  width: 50%;
  padding: 8px;
  margin-top: 30px;
  border: solid rebeccapurple;
  border-radius: 5px;
}

h4 {
  text-align: center;
  display: inline;
}

.last-section {
  width: 95%;
  margin: 0 auto;
  margin-top: 50px;
}

.prev-btn {
  background-color: rebeccapurple;
  padding: 6px 15px;
  border: none;
  color: white;
  border-radius: 5px;
  float: left;

}

.next-btn {
  background-color: rebeccapurple;
  padding: 6px 15px;
  border: none;
  color: white;
  border-radius: 5px;
  float: right;

}